<div class="dashboard-container">
 <div class="d-flex justify-content-center">
   <div class="col-11 col-md-8 col-lg-6">
     <div class="appointment-content-section">
       <% if notice %>
         <p class="alert alert-success" role="alert">
           <%= notice %>
         </p>
       <% end %>
       <%= link_to "â† Voltar", pet_medical_appointments_path(@pet), class: "btn btn-secondary-custom mb-3", data: { turbo: false } %>
       <h1 class="mb-4">Detalhes da Consulta</h1>
       <%= render "form", medical_appointment: @medical_appointment %>
     </div>
   </div>
 </div>
</div>