<p>Olá,</p>
<p>Alguém requisitou a troca de sua senha. Você pode fazer isso através do link abaixo</p>
<p><%= link_to 'Trocar minha senha', edit_password_reset_url(@user.password_reset_token) %></p>
<p>Se você não solicitou isso, ignore este email.</p>
<p>Sua senha não irá mudar a não ser que você acesse o link acima e crie uma nova.</p>
