<div class="dashboard-container">
  <div class="row justify-content-center">
    <div class="col-11 col-md-8 col-lg-6">
      <div class="bath-content-section">
        <%= link_to "â† Voltar", pet_baths_path(@pet), class: "btn btn-secondary-custom mb-3", data: { turbo: false } %>
        <h1 class="mb-4">Cadastrar Banho e Tosa</h1>
        <%= render "form", bath: @bath %>
      </div>
    </div>
  </div>
</div>