<div class="container mt-5">
  <header class="d-flex justify-content-between align-items-center py-3 mb-4 border-bottom">
    <h1 class="fs-5 text-azul-escuro fw-bold">Pet Manager</h1>
    <nav>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Funcionalidades</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contato</a></li>
      </ul>
    </nav>
    <a href="/login" class="btn btn-primary">Login</a>
  </header>

<main class="d-flex justify-content-center align-items-center mb-4" style="gap: 2rem;">
  <%= image_tag("Pet_Gemini_00.png", alt: "Imagem de apresentação", class: "imagem-fixa") %>
  <p class="fs-5 m-0">Bem-vindo à Pet Manager!</p>
</main>

  <footer class="text-center py-4 mt-5 border-top text-muted">
    <p>© 2025 USP/EACH - Engenharia de Software. Todos os direitos reservados.</p>
  </footer>
</div>