<main class="d-flex justify-content-center align-items-center mb-4" style="gap: 2rem;">
  <%= image_tag("Pet_Gemini_00.png", alt: "Imagem de apresentação", class: "imagem-fixa") %>
  <p class="fs-5 m-0">Bem-vindo à Pet Manager!</p>
</main>
