.registration-body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--neutral-100); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.registration-container {
    background: var(--neutral-0); 
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.registration-container h1 {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: bold;
}

.registration-container p {
    margin-bottom: 20px;
    color: var(--neutral-600); 
}

.registration-container .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.registration-container .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--neutral-700); 
}

.registration-container .form-group input[type="text"],
.registration-container .form-group input[type="password"] {
    width: calc(100% - 24px);
    padding: 12px;
    border: 1px solid var(--neutral-300); 
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.registration-container .form-actions {
    margin-top: 20px;
}

.registration-container .form-actions input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: var(--gradient-primary); 
    color: var(--neutral-0); 
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.registration-container .form-actions input[type="submit"]:hover {
    background: var(--brand-primary-dark); 
}

/* Estilos para mensagens de erro, agora dentro do contêiner */
.registration-container #error_explanation {
    background-color: var(--status-danger-light); 
    color: var(--status-danger-dark); 
    padding: 10px 20px;
    border: 1px solid var(--status-danger-base); 
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.registration-container #error_explanation h2 {
    font-size: 16px;
    margin-top: 0;
}

.registration-container #error_explanation ul {
    margin: 0;
    padding-left: 20px;
}

.registration-container #error_explanation li {
    font-size: 14px;
}